body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#header {
    text-align: center;
    position: relative;
}

#logo {
    font-size: 24px;
    text-align: center;
    display: inline-block;
    padding: 20px 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#user_login p a {
    color: black;
    text-decoration: none;
}

#user_login {
    position: absolute;
    top: 0;
    right: 0;
}

ul#main-menu {
    text-align: center;
    background: #029ef3;
}

ul#main-menu li {
    display: inline-block;
}

ul#main-menu li a {
    padding: 8px 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

#content {
    min-height: 600px;
    padding: 20px 0px;
}

#footer {
    color: #fff;
    text-align: center;
    padding: 8px 0px;
    background: #029ef3;
}